<!DOCTYPE html>
<html>
<head>
	<title>Login & Registration</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<body>
<div id="wrapper">
	<div id="header">
		<h1>Login & Registration!</h1>
	</div>
	<div id="login">
		<h3 id="a">If you have already registered, please login below:</h3>
		<form id="login1" action="/login" method="post">
		<input class="boxa" type="text" name="username" placeholder="Email Address">
		<input class="boxa" type="password" name="password2" placeholder="Password">
		<input class="submita" type="submit" name="submit_user" value="Login">
		</form>
	</div>
	<div id="register">
		<h3 id="b">Enter the information below to register:</h3>
		<form id="register1" action="/register" method="post">
		First Name: <input class="box" type="text" name="first_name" placeholder="First Name"><br>
		Last Name: <input class="box" type="text" name="last_name" placeholder="Last Name"><br>
		Email Address: <input class="box" type="text" name="email_add" placeholder="Email Address"><br>
		Password: <input class="box" type="password" name="password" placeholder="Password"><br>
		Re-Enter Password: <input class="box" type="password" name="confirm" placeholder="Re-Enter Password"><br>
		<input class="submita" type="submit" value="Register">
		</form>
</body>
</html>