.table {
	width: 90%;
	margin: auto;
	border: 2px solid black;
}
.row {
	max-height: 10%;
}

.number {
	display: inline-block;
	font-size: 40px;
	height: 65px;
	width: 65px;
	text-align: center;
	border: 2px solid black;
	border-radius: 50%;
	margin-left: 10%;
	margin-right: 18%;
}

.name {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.button {
	display: inline-block;
	width: 33%;
	text-align: center;
}
button {
	background: none;
	border: none;
	color: green;
	font-size: 40px;
	margin-left: 10%;
	outline: none;
}
.line {
	height: 5px;
	width: 100%;
	background-color: black;
}
.head {
	text-align: center;
	font-size: 50px;
}