#wrapper {
	width: 1200px;
	height: 800px;
	margin: auto;
	background-color: grey;
	border: 2px solid black;
}
#header {
	margin-top: 30px;
}

#welcome {
	display: inline-block;
	margin-right: 600px;
	margin-left: 15px;
}
.toplinks {
	margin-left: 50px;
}
#display {
	margin-left: 15px;
	width: 500px;
	display: inline-block;
}

#lowleft {
	margin-left: 15px;
	width: 450px;
}

#books {
	display: block;
	margin-left: 20px;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
}